<% include partials/header.ejs %>

<div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        Please scan the QR code using Google Authenticator and click <strong>Continue</strong>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form method="post">
            <input type="hidden" name="key" value="<%= key %>">
            
            <div class="form-group">
                <img src='<%= qrUrl %>'>    
            </div>
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    </div>
</div>

<% include partials/footer.ejs %>